./venv/
/venv/
venv/

./venv
/venv
venv

./.idea/
/.idea/
.idea/

./.idea
/.idea
.idea

project.py


./auto_tests/__pycache__/
/auto_tests/__pycache__/
auto_tests/__pycache__/


./auto_tests/__pycache__
/auto_tests/__pycache__
auto_tests/__pycache__


./auto_tests.egg-info/
/auto_tests.egg-info/
auto_tests.egg-info/


./auto_tests.egg-info
/auto_tests.egg-info
auto_tests.egg-info


./build/
/build/
build/


./build
/build
build



./dist/
/dist/
dist/


./dist
/dist
dist


./.pypirc
/.pypirc
.pypirc